* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
html,
body {
	height: 100vh;
	font-family: var(--font-family);
	background-color: var(--bg-main);
}
ul {
	list-style: none;
}

body.lock {
	overflow: hidden;
}
.calendar {
	height: max-content;
	width: 100%;
	background-color: var(--bg-main);
	position: relative;
	overflow: hidden;
	padding: 0px 0px 43px 0px;
}

.calendar-name {
	padding: 0px 10px 0px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-main);
	z-index: 1;
	border-bottom: 1px solid var(--bg-second);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}
.calendar-body {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calendar-body .curr-date {
	background-color: var(--curr-day);
	color: var(--curr-day-text-color);
}
.calendar-body .selected {
	background-color: var(--selected);
}
.calendar-body,
.calendar-count,
.calendar-body-for-size {
	display: grid;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}

.calendar-days {
	color: var(--color-txt);
	overflow-wrap: break-word;
}

.calendar-day,
.calendar-header-day,
.menu-header div,
.right-click-menu-item__btn,
.right-click-menu-item__desc,
.right-click-menu-item__color,
.right-click-menu__todo {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 3px;
	margin: 3px 2px;
	/* margin: 2px 1px; */
	overflow: hidden;
	overflow-wrap: break-word;
}
.calendar .calendar-day {
	margin: 2px 1px;
	padding: 0 5px;
}
.calendar-day,
.calendar-header-day {
	height: 30px;
	/* min-width: 30px; */
	white-space: nowrap;
	/* justify-content: flex-start; */
}

.calendar-day,
.menu-header div,
.right-click-menu-item__btn,
.right-click-menu-item__desc,
.right-click-menu-item__color,
.right-click-menu__todo {
	background-color: var(--bg-div);
	cursor: pointer;
	color: var(--color-txt);
}
.popup .menu-header div {
	background-color: inherit;
}

/* .calendar-day-wrapper:nth-child(2) {
	margin-top: 33px;
} */
.calendar-day:nth-child(2) {
	margin-top: 33px;
}
.calendar-header-day-wrapper {
	display: flex;
	justify-content: center;
	z-index: 2;
	background-color: var(--bg-main);
	height: 30px;
}
/* .calendar-header-day-wrapper div {
	margin: 0 5px;
	overflow: hidden;
	justify-content: flex-start;
} */
.calendar-day-wrapper {
}
.calendar-header-day {
	/* background-color: var(--bg-main); */
	color: var(--bg-second);
	/* z-index: 2; */
	border-radius: 0px;
	height: 30px;
	margin: 0px 5px;
	overflow: hidden;
	justify-content: flex-start;
	/* white-space: nowrap; */
	/* border-bottom: 1px solid var(--bg-second); */
}
.calendar-week-day div,
.calendar-days div {
	color: var(--bg-second);
}
.calendar-week-day .calendar-header-day {
	width: 100%;
	position: fixed;
}

/* .calendar-column-create-shift {
	box-shadow: inset 0 0 100px var(--focus-in-template);
} */
.calendar-day-create-shift {
	border: 2px solid var(--desc);
}
.calendar-day-off {
	background-color: var(--day-off);
}

.calendar-nav {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 21px;
	font-weight: 600;
	color: var(--color-txt);
	/* padding: 10px 0; */
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--bg-main);
	/* border-top: 1px solid var(--bg-second); */
}
.calendar-count {
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-count .calendar-day {
	margin: 2px 1px;
	color: var(--bg-second);
}
.calendar-count .calendar-count-total {
	margin: 2px;
}
.month-list {
	position: absolute;
	height: 100vh;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--bg-main);
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	display: grid;
	transform: scale(2);
	visibility: hidden;
	pointer-events: none;
	z-index: 5;
}
.month-list div {
	background-color: var(--bg-div);
}

.month-list.show {
	transform: scale(1);
	visibility: visible;
	pointer-events: visible;
	transition: all 0.5s ease-in-out;
}

.month-list > div > div {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	color: var(--color-txt);
}

.month-picker {
	border-radius: 10px;
	cursor: pointer;
}
.month-picker div {
	align-self: center;
}
.month-name {
	border-radius: 10px;
	min-width: 120px;
	text-align: center;
}
/* .month-name:hover {
	background-color: var(--color-hover);
} */

.year-picker,
.month-picker {
	display: flex;
	align-items: center;
	animation: to-top 1s forwards;
}

.arrow {
	padding: 5px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	/* margin: 0 10px; */
	cursor: pointer;
	position: relative;
}
.arrow-wrapper {
	position: relative;
	transform: rotate(90deg);
	top: -8px;
}

.arrow-wrapper.right {
	transform: rotate(-90deg);
	top: 8px;
}

.arrow-sign {
	position: absolute;
	background: var(--color-txt);
}

.arrow-part-1 {
	width: 10px;
	height: 2px;
	transform: rotate(45deg);
}

.arrow-part-2 {
	width: 10px;
	height: 2px;
	transform: rotate(-45deg);
	left: 6px;
	top: 0px;
}
@media (max-width: 380px) {
	.calendar {
		padding: 0px 0px 67px 0px;
	}
	.calendar-nav {
		flex-direction: column;
	}
	.year-picker #year {
		min-width: 120px;
		text-align: center;
	}
	.arrow {
		width: 85px;
		height: 35px;
		/* margin: 0 45px; */
	}
}
/* .year-change:hover,
.arrow:hover {
	background-color: var(--color-hover);
} */

.calendar-menu {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.toggle {
	display: flex;
}

.toggle span {
	margin-right: 10px;
	color: var(--color-txt);
}

/* .remove-local-storage {
	border: 1px solid var(--color-txt);
	margin-top: 50px;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--color-txt);
} */

@keyframes to-top {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.check-wrapper {
	position: relative;
	top: 21px;
	left: 8px;
}

.check-sign {
	position: absolute;
	background: var(--color-txt);
}

#check-part-1 {
	width: 15px;
	height: 3px;
	transform: rotate(45deg);
}

#check-part-2 {
	width: 26px;
	height: 3px;
	transform: rotate(-45deg);
	left: 7px;
	top: -4px;
}

.end-cicle-btn,
.burger-wrapper {
	width: 50px;
	height: 42px;
	position: fixed;
	top: 8px;
	left: 8px;
	z-index: 4;
	background-color: var(--bg-main);
	border-radius: 5px;
	border: 2px solid var(--color-txt);
}

.end-cicle-btn {
	left: 70px;
	color: var(--color-txt);
	font-size: 25px;
	text-align: center;
}

.burger__btn {
	display: block;
	width: 30px;
	height: 20px;
	position: fixed;
	top: 18px;
	left: 18px;
	z-index: 5;
}
.burger__btn span {
	position: absolute;
	background-color: var(--color-txt);
	top: 9px;
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.burger__btn:before,
.burger__btn:after {
	content: "";
	background-color: var(--color-txt);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.burger__btn:before {
	top: 0;
}
.burger__btn:after {
	bottom: 0;
}
.burger__menu-wrapper {
}
.burger__menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 42px 20px 20px;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--bg-main);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	overflow: auto;
	z-index: 3;
}
.burger__menu h2 {
	font-size: 18px;
}

.burger__menu.active {
	left: 0;
}
.burger__menu-item {
	margin: 25px 0;
	background-color: var(--bg-div);
	color: var(--color-txt);
	border-radius: 10px;
	position: relative;
	border: 2px solid var(--color-txt);
}

.burger__menu-item .input-wrapper input {
	padding: 10px 0;
	border-bottom: 1px solid var(--color-hover);
}

.burger__menu-item-title {
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-txt);
}

.burger__menu-item-cross {
	width: 20px;

	height: 20px;
	position: relative;
}
.burger__menu-item-cross .cross {
	transition: all 0.5s ease 0s;
	transform: rotate(45deg);
	top: 0px;
	left: 0px;
}
.burger__menu-item-cross .cross::before,
.burger__menu-item-cross .cross::after {
	background-color: var(--color-txt);
}
.burger__menu-item-cross.active .cross {
	transform: rotate(-90deg);
}
.burger__submenu-item .burger__menu-item-cross {
	padding: 30px;
}
.burger__submenu-title .burger__menu-item-cross {
	border: 2px solid var(--color-txt);
	background-color: var(--bg-main);
	border-radius: 10px;
	padding: 20px;
}
.burger__submenu-item .burger__menu-item-cross .cross {
	top: calc(50% - 10px);
	left: calc(50% - 10px);
}

.burger__menu-item-more {
	height: 0;
	margin: 0 15px;
	/* padding: 0 2px; */
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: all 0.5s ease 0s;
}
.burger__menu-item-more.active {
	margin: 0;
	/* padding: 2px; */
	opacity: 1;
	visibility: visible;
	height: inherit;
}

/* .burger__menu-item .burger__submenu-title {
	display: flex;
	justify-content: space-between;
} */

.burger__menu-add-shift-btn {
	padding: 25px;
	background-color: var(--bg-main);
	border-radius: 10px;
	border: 2px solid var(--color-txt);
	text-align: center;
}
.burger__menu-add-new-shift-input .input-wrapper input {
	margin: 0 0 15px;
}
.burger__menu-create-shift-more .input-wrapper input {
	margin: 10px 0 25px;
}
.burger__submenu-item {
	padding: 25px;
}
.burger__submenu-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.burger__submenu-name {
	width: 250px;
	overflow: hidden;
	overflow-wrap: break-word;
}
.burger__menu-create-shift .burger__submenu-item {
	padding: 0 25px 25px 25px;
}

.burger__btn.active span {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.burger__btn.active:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 9px;
}
.burger__btn.active:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 9px;
}
.burger__menu-btn {
	overflow: hidden;
	padding: 25px;
	margin-top: 15px;
	background-color: var(--bg-main);
	border-radius: 10px;
	border: 2px solid var(--color-txt);
	text-align: center;
}
.burger__menu-add-shedule-btn {
	margin-top: 0;
}

.burger__submenu-language {
	padding-top: 0;
}
.burger__submenu-language-item:first-child {
	margin-top: 0;
}

.burger__menu-footer {
	display: flex;
	justify-content: space-between;
}

.burger__menu-footer .remove-local-storage {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	color: var(--color-txt);
}
.burger__menu-footer .remove-local-storage h2 {
	font-size: 14px;
}
.burger__social-container .burger__menu-btn {
	display: block;
	color: var(--color-txt);
	text-decoration: none;
	background-color: var(--bgc-social);
}
.burger__menu-feedback .burger__submenu-item {
	padding-top: 0;
}
.burger__social-container {
	display: flex;
	justify-content: space-around;
	/* border: 2px solid var(--color-txt); */
	border-radius: 10px;
	background-color: var(--bg-social);
}
.burger__social-container img {
	width: 30px;
	height: 30px;
}
.burger__social-container .burger__social {
	padding: 15px;
}
/* .burger__date {
	display: flex;
	justify-content: center;
}
.burger__date .input-wrapper input {
	width: 60px;
	font-size: 20px;
} */

.menu-close {
	display: block;
	width: 30px;
	height: 20px;
	position: absolute;
	top: 15px;
	left: 14px;
	z-index: 5;
}

.menu-close:before,
.menu-close:after {
	content: "";
	background-color: var(--color-txt);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.menu-close:before {
	top: 0;
}
.menu-close:after {
	bottom: 0;
}
.right-click-menu {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-main);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	overflow: auto;
	z-index: 6;
}
.right-click-menu.active {
	bottom: 0;
}

.menu-close:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 9px;
}
.menu-close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 9px;
}

.menu-header {
	margin: 6px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-header div {
	padding: 7px;
}
.menu-header div:last-child {
	padding: 7px 3px;
}
.menu-header__shift-container span {
	overflow: hidden;
	margin: 0 2px;
	white-space: nowrap;
}
.menu-header .menu-header__shift {
	max-width: 120px;
}
.right-click-menu ul {
	margin-top: 5px;
}
.right-click-menu li::first-child {
	margin-top: 40px;
}

.right-click-menu-item {
	margin: 3px;
	transition: all 0.3s ease 0s;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 0px 0px;
}
.right-click-menu-item__btn {
	justify-content: flex-start;
}

.right-click-menu-item__value,
.right-click-menu-item__name {
	display: flex;
	justify-content: space-between;
	margin: 15px;
	width: 85px;
	overflow: hidden;
}
.right-click-menu-item__value {
	white-space: nowrap;
}
.right-click-menu-item__value .content {
	align-self: flex-start;
	overflow: hidden;
}
.right-click-menu-item__name {
	width: 100%;
	justify-content: flex-start;
}
/* Color picker */
.right-click-menu-item__color {
	padding: 5px;
}
.right-click-menu-item__color input {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.right-click .clr-picker {
	background-color: var(--bg-main);
}

.right-click .clr-preview,
.right-click .clr-clear {
	border: 1px solid var(--color-txt);
}
.clr-swatches button {
	border: 1px solid var(--color-txt);
}

.clr-field {
	width: 100%;
	height: 100%;
}
.clr-field button {
	width: 100%;
	height: 100%;
	/* border-radius: 4px; */
}
.clr-color {
	display: none;
}
.clr-preview {
	position: absolute;
	top: 210px;
	width: 70px;
	height: 24px;
	border-radius: 12px;
}
.clr-preview:after,
.clr-preview:before {
	border-radius: 12px;
}

.clr-swatches button {
	width: 25px;
	height: 25px;
}
.clr-picker {
	width: 260px;
}

.right-click-menu-item__desc-arrow {
	font-size: 31px;
	font-weight: 600;
	color: var(--color-txt);
	margin-top: -4px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.right-click-menu-item__desc-arrow.active {
	transform: rotate(90deg);
}

.right-click-menu__todo {
	position: relative;
	grid-template-columns: 5fr 1fr;
	overflow: hidden;
}

.right-click-menu .right-click-menu__todo {
	/* transition: all 0.3s ease 0s; */
	height: 0;

	display: none;
	top: -100%;
	opacity: 0;
	visibility: hidden;
}

.right-click-menu .right-click-menu__todo.active {
	display: flex;
	/* transform: rotate(90deg); */

	top: 0;
	opacity: 1;
	visibility: visible;
	height: inherit;
}

.desc {
	border: 3px solid var(--desc);
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
}

.popup.show {
	display: flex;
}

.popup.hide {
	display: none;
}

.popup__window {
	position: relative;
	min-width: 350px;
	margin: 10px;
}

.popup__content {
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	max-height: 95vh;
	overflow-y: auto;
	color: var(--color-txt);
	background-color: var(--bg-main);
}
/* .popup__content h2 {
	text-align: center;
} */

.popup__content .popup__create-shift {
	display: flex;
	flex-direction: column;
}

.popup__content .delete-task-btn .cross {
	transform: rotate(0deg);
}

.popup__content-body {
	width: 100%;
}

.popup__content-body h2 {
	text-align: center;
	margin: 0;
}
.add-shift-item {
	margin-top: 20px;
}

.popup__content-item .cross {
	top: 13px;
	left: 23px;
	transform: rotate(45deg);
}
.popup__close {
	text-align: center;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 8px;
	right: 14px;
	font-size: 30px;
	color: var(--color-txt);
	opacity: 0.5;
	font-weight: 700;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 2;
}

/* todo */
.right-click-menu__todo {
	background-color: inherit;
	display: flex;
	flex-direction: column;
	margin: 0;
}
.right-click .right-click-menu-item.right-click-menu__todo {
	padding: 0px 20px;
	background-color: var(--bg-div);
	margin: 6px;
}
.right-click-menu__todo h2 {
	font-size: 16px;
	color: var(--bg-second);
	font-weight: normal;
	margin: 10px 0 15px;
}
.right-click .right-click-menu__todo h2 {
	margin: 20px 5px 0;
}

.right-click-menu__todos-wrapper {
	width: 100%;
}

.right-click-menu__add-todo-wrapper .input-wrapper input {
	padding: 5px 0 10px;
	border-bottom: 1px solid var(--color-hover);
}
.todo-item {
	padding: 5px 0;
	margin: 5px 0;
	/* border: 1px solid black; */
}
.todo-item.right-click-menu-item {
	margin: 0;
}
.todo-check-desc {
	display: flex;
}

.right-click-menu__add-todo-wrapper {
	/* margin: 20px 3px; */
	width: 100%;
	margin-left: 0;
}
.input-wrapper input::-webkit-input-placeholder {
	color: var(--color-hover);
}
.input-wrapper input {
	font-size: 18px;
	/* padding: 15px 0px; */
	margin: 10px 0px 20px;
	/* margin: 7px; */
	width: 100%;
	/* border-bottom: 1px solid black; */
	outline: none;
	border: none;
	background-color: inherit;
	color: var(--color-txt);
}

.btn-complete,
.description,
.btn-delete {
	margin: 10px 0;
}
.button-wrapper {
	position: relative;
	cursor: pointer;
}
.button-wrapper .cross {
	top: 22px;
	left: 50%;
	transform: rotate(45deg);
}
/* .add-task-btn .cross:before {
	transform: rotate(0deg);
}
.add-task-btn .cross:after {
	transform: rotate(90deg);
} */
.description {
	overflow: hidden;
}
.btn-delete {
	position: relative;
}
.show {
	display: grid;
}
.hide {
	display: none;
}

.custom-checkbox {
	position: relative;
}
/*Checkboxes styles*/
.todo-item.checked .description {
	text-decoration: line-through;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	/* font: 14px/20px "Open Sans", Arial, sans-serif;
	color: rgb(146, 0, 0); */
	cursor: pointer;
	user-select: none;
	top: 7px;
	left: calc(50% - 20px);
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"] + label:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid var(--bg-second);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	-webkit-transition: all 0.12s, border-color 0.08s;
	transition: all 1.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cross {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -3px;
	left: 50%;
	z-index: 5;
}

.cross:before,
.cross:after {
	content: "";
	background-color: var(--bg-second);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.cross:before {
	top: 0;
}
.cross:after {
	bottom: 0;
}
.cross:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 9px;
}
.cross:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 9px;
}
.create-shift-selected {
	background-color: var(--focus-in-template);
	color: var(--color-txt-2);
}
