:root {
	--dark-body: #4d4c5a;
	--dark-main: #141529;
	--dark-second: #79788c;
	--dark-hover: #323048;
	--dark-text: #f8fbff;
	--dark-bg-div: #21223f69;

	--light-body: #f3f8fe;
	--light-main: #fdfdfd;
	--light-second: #c3c2c8;
	--light-hover: #edf0f5;
	--light-text: #151426;
	--light-bg-div: #f9fbfd;
	--red: rgba(255, 30, 0, 0.562);
	--blue: #0000ffa2;
	--white: #fff;

	--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	--font-family: Arial;
}

.dark {
	--bg-body: var(--dark-body);
	--bg-div: var(--dark-bg-div);
	--bg-main: var(--dark-main);
	--bg-second: var(--dark-second);
	--color-hover: var(--dark-hover);
	--color-txt: var(--dark-text);
}

.light {
	--bg-body: var(--light-body);
	--bg-div: var(--light-bg-div);
	--bg-main: var(--light-main);
	--bg-second: var(--light-second);
	--color-hover: var(--light-hover);
	--color-txt: var(--light-text);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
html,
body {
	height: 100vh;
	font-family: var(--font-family);
	background-color: var(--bg-body);
}
ul {
	list-style: none;
}

body.lock {
	overflow: hidden;
}
.calendar {
	height: max-content;
	width: 100%;
	background-color: var(--bg-main);
	position: relative;
	overflow: hidden;
	padding: 0px 0px 55px 0px;
}

.calendar-name {
	padding: 0px 10px 0px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-main);
	z-index: 1;
	border-bottom: 1px solid var(--bg-second);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}
.calendar-body {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calendar-body,
.calendar-count {
	display: grid;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}

.calendar-days {
	color: var(--color-txt);
}

.calendar-day,
.calendar-header-day,
.right-click-menu-header div,
.right-click-menu-item__btn,
.right-click-menu-item__desc,
.right-click-menu-item__color,
.right-click-menu-item__desc-text-area textarea,
.right-click-menu-item__desc-text-area-btn,
.right-click-menu__todo {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 4px;
	margin: 3px;
}
.calendar-day,
.right-click-menu-header div,
.right-click-menu-item__btn,
.right-click-menu-item__desc,
.right-click-menu-item__color,
.right-click-menu-item__desc-text-area textarea,
.right-click-menu-item__desc-text-area-btn,
.right-click-menu__todo {
	background-color: var(--bg-div);
	animation: to-top 2s forwards;
	cursor: pointer;
	color: var(--color-txt);
}

.calendar-day:nth-child(2) {
	margin-top: 36px;
}

.calendar-header-day {
	background-color: var(--bg-main);
	color: var(--bg-second);
	z-index: 2;
	border-radius: 0px;
	height: 30px;
	margin: 0px;
	border-bottom: 1px solid var(--bg-second);
}
.calendar-week-day div,
.calendar-days div {
	color: var(--bg-second);
}
.calendar-week-day .calendar-header-day {
	width: 100%;
	position: fixed;
}
.calendar-day-off,
.curr-date {
	margin: 3px 0;
	border-radius: 0;
}

.calendar-day-off {
	background-color: var(--red);
}
.curr-date {
	background-color: var(--blue);
	color: var(--white);
}
.calendar-nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 21px;
	font-weight: 600;
	color: var(--color-txt);
	padding: 10px 0;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--bg-main);
	border-top: 1px solid var(--bg-second);
}
.calendar-count {
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calendar-count .calendar-day {
	margin: 3px;
	color: var(--bg-second);
}
.month-list {
	position: absolute;
	height: 100vh;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--bg-main);
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	display: grid;
	transform: scale(2);
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}
.month-list div {
	background-color: var(--bg-div);
}

.month-list.show {
	transform: scale(1);
	visibility: visible;
	pointer-events: visible;
	transition: all 0.5s ease-in-out;
}

.month-list > div > div {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	color: var(--color-txt);
}

.month-picker {
	border-radius: 10px;
	cursor: pointer;
}
.month-picker div {
	align-self: center;
}
.month-name {
	border-radius: 10px;
	min-width: 120px;
	text-align: center;
}
.month-name:hover {
	background-color: var(--color-hover);
}

.year-picker,
.month-picker {
	display: flex;
	align-items: center;
	animation: to-top 2s forwards;
}

.arrow {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	margin: 0 10px;
	cursor: pointer;
}
@media (max-width: 390px) {
	.calendar {
		padding: 0px 0px 90px 0px;
	}
	.calendar-nav {
		flex-direction: column;
	}
	.year-picker #year {
		min-width: 120px;
		text-align: center;
	}
	.arrow {
		margin: 0 45px;
	}
}
.year-change:hover,
.arrow:hover {
	background-color: var(--color-hover);
}

.calendar-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.toggle {
	display: flex;
}

.toggle span {
	margin-right: 10px;
	color: var(--color-txt);
}

.dark-mode-switch {
	position: relative;
	width: 48px;
	height: 25px;
	border-radius: 14px;
	background-color: var(--bg-second);
	cursor: pointer;
}

.dark-mode-switch-ident {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: var(--bg-main);
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.5s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
	top: 2px;
	left: calc(2px + 50%);
}

@keyframes to-top {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.header__burger-wrapper {
	width: 50px;
	height: 42px;
	position: fixed;
	top: 5px;
	left: 4px;
	z-index: 3;
	background-color: rgb(68, 52, 126);
	border-radius: 5px;
	box-shadow: 0 0 10px rgb(68, 52, 126);
}
.header__burger {
	display: block;
	width: 30px;
	height: 20px;
	position: fixed;
	top: 15px;
	left: 14px;
	z-index: 4;
}
.header__burger span {
	position: absolute;
	background-color: #fff;
	top: 9px;
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
	content: "";
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header__burger:before {
	top: 0;
}
.header__burger:after {
	bottom: 0;
}
.header__menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: rgb(68, 52, 126);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	overflow: auto;
	z-index: 3;
}
.header__menu.active {
	left: 0;
}

.header__burger.active span {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.header__burger.active:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 9px;
}

.right-click-menu-close {
	display: block;
	width: 30px;
	height: 20px;
	position: absolute;
	top: 15px;
	left: 14px;
	z-index: 5;
}

.right-click-menu-close:before,
.right-click-menu-close:after {
	content: "";
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.right-click-menu-close:before {
	top: 0;
}
.right-click-menu-close:after {
	bottom: 0;
}
.right-click-menu {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(68, 52, 126);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	overflow: auto;
	z-index: 4;
}
.right-click-menu.active {
	bottom: 0;
}

.right-click-menu-close:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 9px;
}
.right-click-menu-close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 9px;
}

.right-click-menu-header {
	margin: 6px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right-click-menu-header div {
	padding: 7px;
}
.right-click-menu ul {
	margin-top: 5px;
}
.right-click-menu li::first-child {
	margin-top: 40px;
}

.right-click-menu-item {
	margin: 3px;
	transition: all 0.3s ease 0s;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 4fr 1fr;
	gap: 0px 0px;
}
.right-click-menu-item__btn {
	justify-content: flex-start;
}

.right-click-menu-item__value,
.right-click-menu-item__name {
	display: flex;
	justify-content: center;
	padding: 15px;
	width: 60px;
}
.right-click-menu-item__name {
	width: 100%;
	justify-content: flex-start;
}
/* Color picker */
.right-click-menu-item__color {
	padding: 5px;
}
.right-click-menu-item__color input {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.clr-field {
	width: 100%;
	height: 100%;
}
.clr-field button {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.clr-color {
	display: none;
}
.clr-preview {
	position: absolute;
	top: 210px;
	width: 70px;
	height: 24px;
	border-radius: 12px;
}
.clr-preview:after,
.clr-preview:before {
	border-radius: 12px;
}

.clr-swatches button {
	width: 25px;
	height: 25px;
}
.clr-picker {
	width: 260px;
}

.right-click-menu-item__desc-arrow {
	font-size: 31px;
	font-weight: 600;
	color: var(--color-txt);
	margin-top: -4px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.right-click-menu-item__desc-arrow.active {
	transform: rotate(90deg);
}

.right-click-menu-item__desc-text-area {
	position: relative;
	top: -59px;
	transition: all 0.3s ease 0s;
	display: grid;
	grid-template-columns: 5fr 1fr;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	height: 0;
}
.right-click-menu-item__desc-text-area.active {
	top: 0;
	opacity: 1;
	visibility: visible;
	height: 50px;
}
.right-click-menu-item__desc-text-area textarea {
	resize: none;
	padding: 10px;
	overflow: hidden;
}
.right-click-menu-item__desc-text-area-btn span {
	font-size: 30px;
	margin-top: -7px;
}
.desc {
	border: 4px solid rgb(55, 98, 163);
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
}

.popup.show {
	display: flex;
}

.popup.hide {
	display: none;
}

.popup__window {
	position: relative;
	min-width: 300px;
	margin: 10px;
}

.popup__content {
	padding: 20px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	max-height: 80vh;
	overflow-y: auto;
	color: var(--color-txt);
	background-color: var(--bg-main);
}
.popup__content h2 {
	font-size: 13px;
	color: var(--bg-second);
	font-weight: normal;
	margin-bottom: 10px;
}
.popup__close {
	position: absolute;
	top: 8px;
	right: 14px;
	font-size: 30px;
	color: var(--color-txt);
	opacity: 0.5;
	font-weight: 700;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* todo */
.right-click-menu__todo {
	flex-direction: column;
	margin: 6px;
}
.right-click-menu__todo h2 {
	font-size: 14px;

	margin: 5px 0 0 0;
}
.right-click-menu__todos-wrapper {
	width: 100%;
}
.todo-item {
	padding: 5px;
	/* border: 1px solid black; */
}
.todo-check-desc {
	display: flex;
}

.right-click-menu__add-todo-wrapper {
	width: 100%;
}
.input-wrapper input {
	padding: 15px;
	/* margin: 7px; */
	width: 100%;
	/* border-bottom: 1px solid black; */
	outline: none;
	border: none;
	background-color: var(--bg-div);
}

.btn-complete,
.description,
.btn-delete {
	margin: 10px 0;
}
.button-wrapper {
	position: relative;
	cursor: pointer;
}
.button-wrapper .cross {
	top: 14px;
	left: calc(50% - 10px);
}
#add-task-btn .cross:before {
	transform: rotate(0deg);
}
#add-task-btn .cross:after {
	transform: rotate(90deg);
}
.btn-delete {
	position: relative;
}
.show {
	display: block;
}
.hide {
	display: none;
}

.custom-checkbox {
	position: relative;
}
/*Checkboxes styles*/
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	font: 14px/20px "Open Sans", Arial, sans-serif;
	color: #ddd;
	cursor: pointer;
	user-select: none;
	top: 6px;
	left: calc(50% - 20px);
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"] + label:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid #6cc0e5;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
	-webkit-transition: all 0.12s, border-color 0.08s;
	transition: all 1.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cross {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -3px;
	left: calc(50%);
	z-index: 5;
}

.cross:before,
.cross:after {
	content: "";
	background-color: #6cc0e5;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.cross:before {
	top: 0;
}
.cross:after {
	bottom: 0;
}
.cross:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 9px;
}
.cross:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 9px;
}
