:root {
	--dark-body: #4d4c5a;
	--dark-main: #141529;
	--dark-second: #79788c;
	--dark-hover: #323048;
	--dark-text: #f8fbff;
	--dark-bg-div: #21223f69;

	--light-body: #f3f8fe;
	--light-main: #fdfdfd;
	--light-second: #c3c2c8;
	--light-hover: #edf0f5;
	--light-text: #151426;
	--light-bg-div: #f9fbfd;
	--red: rgba(255, 30, 0, 0.562);
	--blue: #0000ffa2;
	--white: #fff;

	--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	--font-family: Arial;
}

.dark {
	--bg-body: var(--dark-body);
	--bg-div: var(--dark-bg-div);
	--bg-main: var(--dark-main);
	--bg-second: var(--dark-second);
	--color-hover: var(--dark-hover);
	--color-txt: var(--dark-text);
}

.light {
	--bg-body: var(--light-body);
	--bg-div: var(--light-bg-div);
	--bg-main: var(--light-main);
	--bg-second: var(--light-second);
	--color-hover: var(--light-hover);
	--color-txt: var(--light-text);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	/* display: grid;
	place-items: center; */
	font-family: var(--font-family);
	/* background-color: var(--bg-body); */
}

.calendar {
	height: max-content;
	width: 100%;
	background-color: var(--bg-main);
	/* background-color: black; */
	/* border-radius: 10px; */
	position: relative;
	overflow: hidden;
	/* transform: scale(1.25); */
}

.light .calendar {
	/* box-shadow: var(--shadow); */
}

.calendar-name {
	padding: 0px 10px 0px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-main);
	z-index: 1;
	border-bottom: 1px solid var(--bg-second);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}

.calendar-body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
}

.calendar-days {
	color: var(--color-txt);
}

.calendar-day,
.calendar-header-day {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 5px; */
	position: relative;

	background-color: var(--bg-div);
	border-radius: 4px;
	margin: 3px;
}
.calendar-day {
	animation: to-top 0.7s forwards;
	cursor: pointer;
	color: var(--color-txt);
}

.calendar-day:nth-child(2) {
	margin-top: 36px;
}

.calendar-header-day {
	color: var(--bg-second);
	/* position: fixed; */
	z-index: 1;
	border-radius: 0px;
	height: 30px;
	margin: 0px;
	border-bottom: 1px solid var(--bg-second);
}
.calendar-week-day div,
.calendar-days div {
	color: var(--bg-second);
}
.calendar-week-day .calendar-header-day {
	width: 100%;
	position: fixed;
}
.calendar-day-off,
.curr-date {
	margin: 3px 0;
	border-radius: 0;
}
.curr-date {
	background-color: var(--blue);
	color: var(--white);
}
.calendar-day-off {
	background-color: var(--red);
}

/* .calendar-days div.curr-date span {
	display: none;
} */
.calendar-nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 21px;
	font-weight: 600;
	color: var(--color-txt);
	padding: 10px 0;
	/* position: fixed; */
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--bg-main);
	border-top: 1px solid var(--bg-second);
}

.month-list {
	position: absolute;
	/* width: 100%; */
	height: 100vh;
	bottom: 0;
	left: 0;
	/* top: 0px; */
	right: 0;
	background-color: var(--bg-main);
	/* padding: 20px; */
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	display: grid;
	transform: scale(2);
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}
.month-list div {
	background-color: var(--bg-div);
}
body.lock {
	overflow: hidden;
}
.month-list.show {
	transform: scale(1);
	visibility: visible;
	pointer-events: visible;
	transition: all 0.5s ease-in-out;
}
/* .month-list.show .calendar-header-day {
	display: none;
} */
.month-list > div {
}

.month-list > div > div {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	/* padding: 5px 0px; */
	border-radius: 10px;
	/* text-align: center;
	cursor: pointer; */
	color: var(--color-txt);
}

/* .month-list div:hover {
	background-color: var(--color-hover);
} */

.month-picker {
	/* display: flex; */
	/* padding: 5px 10px; */
	border-radius: 10px;
	cursor: pointer;
}
.month-picker div {
	align-self: center;
}
.month-name {
	/* padding: 5px 10px; */
	border-radius: 10px;
	min-width: 120px;
	text-align: center;
}
.month-name:hover {
	background-color: var(--color-hover);
}

.year-picker,
.month-picker {
	display: flex;
	align-items: center;
}

.arrow {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	margin: 0 10px;
	cursor: pointer;
}
@media (max-width: 380px) {
	.calendar-nav {
		flex-direction: column;
	}
	.year-picker #year {
		min-width: 120px;
		text-align: center;
	}
	.arrow {
		margin: 0 45px;
	}
}
.year-change:hover,
.arrow:hover {
	background-color: var(--color-hover);
}

.calendar-footer {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.toggle {
	display: flex;
}

.toggle span {
	margin-right: 10px;
	color: var(--color-txt);
}

.dark-mode-switch {
	position: relative;
	width: 48px;
	height: 25px;
	border-radius: 14px;
	background-color: var(--bg-second);
	cursor: pointer;
}

.dark-mode-switch-ident {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: var(--bg-main);
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.5s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
	top: 2px;
	left: calc(2px + 50%);
}

@keyframes to-top {
	0% {
		/* transform: translateY(100%); */
		opacity: 0;
	}
	100% {
		/* transform: translateY(0); */
		opacity: 1;
	}
}
