.burger__menu-color {
	display: flex;
	padding: 20px 0px;
}
.burger__menu-color.focus {
	/* box-shadow: 0 0 8px var(--color-txt); */
	border: 2px solid var(--color-txt);
}
.color {
	width: 10%;
	height: 25px;
}
#dark .color-1 {
	background-color: var(--dark-body);
}
#dark .color-2 {
	background-color: var(--dark-main);
}
#dark .color-3 {
	background-color: var(--dark-second);
}
#dark .color-4 {
	background-color: var(--dark-hover);
}
#dark .color-5 {
	background-color: var(--dark-text);
}
#dark .color-6 {
	background-color: var(--dark-bg-div);
}
#dark .color-7 {
	background-color: var(--dark-day-off);
}
#dark .color-8 {
	background-color: var(--dark-curr-day);
}
#dark .color-9 {
	background-color: var(--dark-curr-day-text-color);
}
#dark .color-10 {
	background-color: var(--dark-desc);
}
#light .color-1 {
	background-color: var(--light-body);
}
#light .color-2 {
	background-color: var(--light-main);
}
#light .color-3 {
	background-color: var(--light-second);
}
#light .color-4 {
	background-color: var(--light-hover);
}
#light .color-5 {
	background-color: var(--light-text);
}
#light .color-6 {
	background-color: var(--light-bg-div);
}
#light .color-7 {
	background-color: var(--light-day-off);
}
#light .color-8 {
	background-color: var(--light-curr-day);
}
#light .color-9 {
	background-color: var(--light-curr-day-text-color);
}
#light .color-10 {
	background-color: var(--light-desc);
}

#dark-2 .color-1 {
	background-color: var(--dark-2-body);
}
#dark-2 .color-2 {
	background-color: var(--dark-2-main);
}
#dark-2 .color-3 {
	background-color: var(--dark-2-second);
}
#dark-2 .color-4 {
	background-color: var(--dark-2-hover);
}
#dark-2 .color-5 {
	background-color: var(--dark-2-text);
}
#dark-2 .color-6 {
	background-color: var(--dark-2-bg-div);
}
#dark-2 .color-7 {
	background-color: var(--dark-2-day-off);
}
#dark-2 .color-8 {
	background-color: var(--dark-2-curr-day);
}
#dark-2 .color-9 {
	background-color: var(--dark-2-curr-day-text-color);
}
#dark-2 .color-10 {
	background-color: var(--dark-2-desc);
}
