:root {
	--dark-body: #4d4c5a;
	--dark-main: #0f1427;
	/* --dark-second: #79788c; */
	--dark-second: rgba(255, 255, 255, 0.6);
	--dark-hover: #323048;
	--dark-text: #f8fbff;
	--dark-bg-div: #21223f69;
	--dark-day-off: #44535e;
	--dark-curr-day: #d1d0cc;
	--dark-curr-day-text-color: #0e1821;
	--dark-desc: #374258;
	--dark-focus: rgba(255, 255, 255, 0.096);
	--dark-focus-in-template: #ea5c2b;
	--dark-selected: rgba(109, 97, 97, 0.459);

	--dark-2-body: #4d4c5a;
	--dark-2-main: #000000;
	/* --dark-2-second: #798f8c; */
	--dark-2-second: rgba(255, 255, 255, 0.6);
	--dark-2-hover: #323048;
	--dark-2-text: #d9ebe9;
	--dark-2-bg-div: #0e1821;
	--dark-2-day-off: #44535e;
	--dark-2-curr-day: #d9ebe9;
	--dark-2-curr-day-text-color: #0e1821;
	--dark-2-desc: #374258;
	--dark-2-focus: rgba(255, 255, 255, 0.096);
	--dark-2-focus-in-template: #ea5c2b;
	--dark-2-selected: rgba(109, 97, 97, 0.459);

	--light-body: #f3f8fe;
	--light-main: #fdfdfd;
	--light-second: rgba(0, 0, 0, 0.7);
	--light-hover: #edf0f5;
	--light-text: #151426;
	/* --light-bg-div: #c8d9e9; */
	/* --light-bg-div: #effffd; */
	--light-bg-div: #f3f7fa;
	--light-day-off: #85f4ff;
	--light-curr-day: #42c2ff;
	--light-curr-day-text-color: #fff;
	--light-desc: rgb(55, 98, 163);
	--light-focus: rgba(139, 145, 145, 0.384);
	--light-focus-in-template: #ea5c2b;
	--light-selected: #61a4bc;

	--light-2-body: #f3f8fe;
	--light-2-main: #f2f5c8;
	--light-2-second: rgba(0, 0, 0, 0.7);
	--light-2-hover: #edf0f5;
	--light-2-text: #151426;
	/* --light-bg-div: #c8d9e9; */
	/* --light-bg-div: #effffd; */
	--light-2-bg-div: #e8e8a6;
	--light-2-day-off: #c1deae;
	--light-2-curr-day: #219f94;
	--light-2-curr-day-text-color: #fff;
	--light-2-desc: #65c18c;
	--light-2-focus: rgba(139, 145, 145, 0.384);
	--light-2-focus-in-template: #ea5c2b;
	--light-2-selected: #54bab9;

	--font-family: Arial;
}

.dark {
	--bg-body: var(--dark-body);
	--bg-div: var(--dark-bg-div);
	--bg-main: var(--dark-main);
	--bg-second: var(--dark-second);
	--color-hover: var(--dark-hover);
	--color-txt: var(--dark-text);
	--day-off: var(--dark-day-off);
	--curr-day: var(--dark-curr-day);
	--curr-day-text-color: var(--dark-curr-day-text-color);
	--desc: var(--dark-desc);
	--focus: var(--dark-focus);
	--selected: var(--dark-selected);
	--focus-in-template: var(--dark-focus-in-template);
}
.dark-2 {
	--bg-body: var(--dark-2-body);
	--bg-div: var(--dark-2-bg-div);
	--bg-main: var(--dark-2-main);
	--bg-second: var(--dark-2-second);
	--color-hover: var(--dark-2-hover);
	--color-txt: var(--dark-2-text);
	--day-off: var(--dark-2-day-off);
	--curr-day: var(--dark-2-curr-day);
	--curr-day-text-color: var(--dark-2-curr-day-text-color);
	--desc: var(--dark-2-desc);
	--focus: var(--dark-2-focus);
	--selected: var(--dark-2-selected);
}

.light {
	--bg-body: var(--light-body);
	--bg-div: var(--light-bg-div);
	--bg-main: var(--light-main);
	--bg-second: var(--light-second);
	--color-hover: var(--light-hover);
	--color-txt: var(--light-text);
	--day-off: var(--light-day-off);
	--curr-day: var(--light-curr-day);
	--curr-day-text-color: var(--light-curr-day-text-color);
	--desc: var(--light-desc);
	--focus: var(--light-focus);
	--selected: var(--light-selected);
}

.light-2 {
	--bg-body: var(--light-2-body);
	--bg-div: var(--light-2-bg-div);
	--bg-main: var(--light-2-main);
	--bg-second: var(--light-2-second);
	--color-hover: var(--light-2-hover);
	--color-txt: var(--light-2-text);
	--day-off: var(--light-2-day-off);
	--curr-day: var(--light-2-curr-day);
	--curr-day-text-color: var(--light-2-curr-day-text-color);
	--desc: var(--light-2-desc);
	--focus: var(--light-2-focus);
	--selected: var(--light-2-selected);
}

.burger__menu-color {
	display: flex;
}
.focus {
	/* box-shadow: inset 0 0 8px var(--color-txt); */
	/* border-top: 2px solid var(--color-txt);
	border-bottom: 2px solid var(--color-txt); */
	background-color: var(--focus);
}
.color {
	width: 10%;
	height: 25px;
}
#dark .color-1 {
	background-color: var(--dark-body);
}
#dark .color-2 {
	background-color: var(--dark-main);
}
#dark .color-3 {
	background-color: var(--dark-second);
}
#dark .color-4 {
	background-color: var(--dark-hover);
}
#dark .color-5 {
	background-color: var(--dark-text);
}
#dark .color-6 {
	background-color: var(--dark-bg-div);
}
#dark .color-7 {
	background-color: var(--dark-day-off);
}
#dark .color-8 {
	background-color: var(--dark-curr-day);
}
#dark .color-9 {
	background-color: var(--dark-curr-day-text-color);
}
#dark .color-10 {
	background-color: var(--dark-desc);
}

#light .color-1 {
	background-color: var(--light-body);
}
#light .color-2 {
	background-color: var(--light-main);
}
#light .color-3 {
	background-color: var(--light-second);
}
#light .color-4 {
	background-color: var(--light-hover);
}
#light .color-5 {
	background-color: var(--light-text);
}
#light .color-6 {
	background-color: var(--light-bg-div);
}
#light .color-7 {
	background-color: var(--light-day-off);
}
#light .color-8 {
	background-color: var(--light-curr-day);
}
#light .color-9 {
	background-color: var(--light-curr-day-text-color);
}
#light .color-10 {
	background-color: var(--light-desc);
}

#dark-2 .color-1 {
	background-color: var(--dark-2-body);
}
#dark-2 .color-2 {
	background-color: var(--dark-2-main);
}
#dark-2 .color-3 {
	background-color: var(--dark-2-second);
}
#dark-2 .color-4 {
	background-color: var(--dark-2-hover);
}
#dark-2 .color-5 {
	background-color: var(--dark-2-text);
}
#dark-2 .color-6 {
	background-color: var(--dark-2-bg-div);
}
#dark-2 .color-7 {
	background-color: var(--dark-2-day-off);
}
#dark-2 .color-8 {
	background-color: var(--dark-2-curr-day);
}
#dark-2 .color-9 {
	background-color: var(--dark-2-curr-day-text-color);
}
#dark-2 .color-10 {
	background-color: var(--dark-2-desc);
}

#light-2 .color-1 {
	background-color: var(--light-2-body);
}
#light-2 .color-2 {
	background-color: var(--light-2-main);
}
#light-2 .color-3 {
	background-color: var(--light-2-second);
}
#light-2 .color-4 {
	background-color: var(--light-2-hover);
}
#light-2 .color-5 {
	background-color: var(--light-2-text);
}
#light-2 .color-6 {
	background-color: var(--light-2-bg-div);
}
#light-2 .color-7 {
	background-color: var(--light-2-day-off);
}
#light-2 .color-8 {
	background-color: var(--light-2-curr-day);
}
#light-2 .color-9 {
	background-color: var(--light-2-curr-day-text-color);
}
#light-2 .color-10 {
	background-color: var(--light-2-desc);
}
